{
    "extends": ["airbnb","prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error", {
            "endOfLine": "auto",
            "singleQuotes": "true"
        }],
        "no-unused-vars":"warn",
        "no-console": "off"
    }

}